<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Itim&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:wght@300;400&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  <title>Editing <%= book.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="update-page">
    <h1><%= book.title %></h1>
    <form action="/users/<%= user._id %>/books/<%= book._id %>?_method=PUT" method="POST">
      <div class="update-form">
        <label for="title">New Title:</label>
        <input type="text" name="title" id="title" value="<%= book.title %>">
        <label for="author">New Author:</label>
        <input type="text" name="author" id="author" value="<%= book.author %>">
        <label for="pages">Page Count:</label>
        <input type="text" name="pages" id="pages" value="<%= book.pages %>">
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="reading"<%= book.status === "reading" ? "selected" : "" %>>Reading</option>
          <option value="finished"<%= book.status === "finished" ? "selected" : "" %>>Finished</option>
        </select>
        <div class="update-button-div">
          <button class="button" type="submit">Update Book</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
