<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Itim&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:wght@300;400&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  <title><%= book.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= book.title.charAt(0).toUpperCase() + book.title.slice(1) %></h1>
  
  <h3>Author: <%= book.author.charAt(0).toUpperCase() + book.author.slice(1) %></h3>

  <% if (book.pages) { %>
    <h3>Page Count: <%= book.pages %></h3>
  <% } %>

  <h3>Current Progress: <%= book.status.charAt(0).toUpperCase() + book.status.slice(1) %></h3>
  
  <form action="/users/<%= user._id %>/books/<%= book._id %>/edit" method="GET">
  <button type="submit">Edit Book Details</button>
  </form>
  
  <form action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Book</button>
  </form>
</body>
</html>
